<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                        <a class="nav-item nav-link mr-2" href="/">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link active mr-2" href="/about">About us</a>
                        <a class="nav-item nav-link" href="/contact">Contact us</a>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container my-5">
                <div class="row">
                    <div class="card mb-3">
                        <img class="card-img-top" src="/files/croped_dev.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Coding as our lifestyle</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, repellat at eveniet dignissimos, eos odit nam qui quasi enim amet eum dolores exercitationem provident consectetur error nihil natus perspiciatis odio?Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, omnis? Repellat dolores odit, cumque doloribus autem, architecto, ducimus nesciunt eius eligendi dolor sunt aut tenetur a. Temporibus voluptatibus id ullam.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="/files/images _optimize.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">SYSTEM ANALYSIS</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. </p>
                        
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="/files/images_seo.png" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">SEO OPTIMIZATION</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="/files/images_tree.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">WEB DEVELOPMENT</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                        </div>
                    </div>
                     
                </div>
            <footer class="footer">
                    <div class="container">
                        <div class="row ">
                            <div class="col-6 text-center mx-auto my-auto">
                                <p class="text-light  pt-2">&copy; Lucky Omokarho Oniovosa</p>
                            </div>
                        </div>
                    </div>
                </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>